{{#data}}
<div class="page">
  <h2 class="page-title"><a href="#page/{{id}}">{{title}}</a></h2>
  <img src="{{image}}" alt="{{title}}" class="page-image" />
  <p class="page-intro">{{content}}</p>
</div>
{{/data}}

{{^data}}
  No pages :(
{{/data}}
